html {
    font-family: 'Noto Sans KR', sans-serif;
}
/* 내부 패딩이나 보더가 wwidth height에 포함되도록*/
div, section, header, p, h1, h2 {
    box-sizing: border-box;
}
a {
    color: royalblue;
}
/*이미지 반응형 되도록 설정 */
img {
    max-width: 100%;
    height: auto;
}

.global-width {
    max-width: 620px;
    margin: 0 auto;
    padding: 0 1rem;
}

.graphic-item {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.5s;
    will-change: opacity;
}
/* opacity가 0으로 잡아놓으면 그림들 안보이는 상태니까 1로 준것만 화면에 보이게끔 */
.visible {
    opacity: 1;
}

/* 이미지가 웹 상단에 닿았을 때 이미지는 고정되고, 스크롤은 내려가서 텍스트가 보이게끔 */
.scroll-graphic {
    overflow-x: hidden;
    position: sticky;
    top: 0;
    height: 100vh;
}
/* 말풍선이 그림 위로 올라오게끔 */
.scroll-text {
    position: relative;
    padding-bottom: 1px;
}
/* margin-bottom은 말풍선간의 너비, padding은 말풍선안의 여백 */
.step {
    margin-bottom: 60vh;
    padding : 0.5rem 1rem;
    border-radius: 10px;
    background: rgba(255,255,255,0.8);
    box-shadow: rgba(0,0,0,0.3) 0 0 3px;
}

.scene-img {
    max-height: 100vh;
}

.bird {
    position: absolute;
    left: 0;
    bottom: 70%;
    width: 100px;
    transform: translateX(-100%);
    transition: 1.5s 0.5s linear; /* 0.5초 후에 1.5초간 새날라가는거 재생 */
}

[data-index="6"] .bird {
    left : 30%;
    bottom : 30%;
}

.global-footer {
    padding: 2rem 0;
    text-align: center;
}

body{
    margin: 0;
}

.maindobby{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 400px;
    background-image: url("/static/assets/dobbymain.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
}
.nv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5%;
    top: 0;
    width: 100%;
    height: 50px;
    z-index: 1;
}

.navleft{
    display: flex;
    justify-content: left;
}

.navright{
    display: flex;
    justify-content: right;
}

.nav_item{
    font-size: 20px;
}

.divider{
    border-right: 2px solid white;
    height: auto;
}

.nv a{
    text-decoration: none;
    color: white;
}

/* 본문 버튼 CSS */

.content{
    position: relative;
    display: flex;
    justify-content: center;
    top: 50px;
    width: 100%;
    height: 100%;
}

.menu-button{
    width: 1400px;
    min-width: 1000px;
    min-height: 700px;
    height: 800px;
}
.row1{
    font-size: 40px;
    color: rgb(160, 158, 155);
    padding-left: 5%;
    padding-bottom: 50px;
}

.row2{
    display: flex;
    /* justify-content: center; */
    flex-wrap: nowrap;
    margin: 0 auto;
    width: 90%;
    min-height: 300px;
}

.bt1, .bt2, .bt3{
    border-style: dotted;
    height: 40vh;
    width: 40vw;
    border-radius: 8px;
    margin: 10px;
    background: white;
    transition: box-shadow 250ms ease-in;
    transition: transform 250ms ease-in;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.bt1, .bt2, .bt3{
    align-items: flex-end;
    width: 33%;
}

.bt1{
    background-image: url("/static/assets/camera.png");
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-position: center center;
}

.bt2{
    background-image: url("/static/assets/bulletin-board.png");
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-position: center center;
}

.bt3{
    background-image: url("/static/assets/user.png");
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-position: center center;
}
strong{
    word-break: break-all;
}

.bt1 strong{
    font-size: 40px;
}

.bt2 strong{
    font-size: 40px;
}

.bt3 strong{
    font-size: 40px;
}

button.bt1:hover{
    box-shadow: 0px 4px 4px rgb(110, 80, 41), 13px 10px 15px rgb(110, 80, 41);
    transform: translate(-2px, -2px);
    overflow: hidden;
}
button.bt2:hover{
    box-shadow: 0px 4px 4px rgb(110, 80, 41), 13px 10px 15px rgb(110, 80, 41);
    transform: translate(-2px, -2px);
    overflow: hidden;
}
button.bt3:hover{
    box-shadow: 0px 4px 4px rgb(110, 80, 41), 13px 10px 15px rgb(110, 80, 41);
    transform: translate(-2px, -2px);
    overflow: hidden;
}


/* about us */
.aboutus{
    position: relative;
    display: flex;
    justify-content: center;
    top: 50px;
    width: 100%;
    height: 100%;
}

.intro{
    width: 1400px;
    min-width: 1000px;
    min-height: 700px;
    height: 800px;
}

.foot{
    background-color: rgb(110, 80, 41);  
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 3%;
    top: 100px;
    width: 100%;
    height: 100px;
}

.foot h1, h4{
    text-decoration: none;
    color: white;
}

.footleft{
    display: flex;
    justify-content: left;
}

.footright{
    display: flex;
    justify-content: right;
    align-items: center;
}

.footbtn1{
    background-color: rgb(110, 80, 41);
    border-style: none;
    height: 5vh;
    width: 5vw;
    background-image: url("/static/assets/youtube.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.footbtn2{
    background-color: rgb(110, 80, 41);
    border-style: none;
    height: 5vh;
    width: 5vw;
    background-image: url("/static/assets/github.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
/* @media screen and (max-width: 900px) {
    button{
        width: 500px;
        height: 300px;
    }
} */